body{
	background-color: black;
	color: white;
	margin-top: 130px;
  	margin-right: 50px ;
  	margin-left: 160px ;
  	margin-bottom: 100px;
}
h1{
	color:white;
	border-radius: 50px;
	font-size: medium;
	text-align: justify;
	margin-left: 300px;
}

h2{
	color:white;
	border-radius: 50px;
	font-size: medium;
	text-align: justify;
	margin-left: 250px;
}

.iframe{
	margin-left: 80px;
	display: inline-block;
    margin: 20px;
    vertical-align: top;
}
figcaption{
	text-align: center;
    text-align: center;
}

.button{
	font-family: "Courier New", Courier, monospace;;
	margin-top: 10px;
	margin-left: 80px;
	height: 40px;
	width: 275px;
	border-radius: 30px;
	border: none;
	outline: none;
	background: grey;
	color: black;
	cursor: pointer;
	transition: 0.8s;
	position: relative;
		left: 273px;
}
.button:hover{
	transform: scale(0.99);
	background-color: white;
	color: blue;
}